<header>
    <div class="fix-width">
        <a class="logo" href="https://www.pierce-chang.de"><img src="/assets/img/pierce_logo.png" alt=""></a>

        <nav>
            <div class="nav-container">
                <div>
                    <a translate id="tab1" (click)="setActiveLink('tab1'); scrollToSectionWithOffset('about-me', 80)"
                        [class.active]="activeLink === 'tab1'">About
                        me</a>
                    <div class="link-underline" [class.active]="activeLink === 'tab1'"></div>
                </div>
                <div>
                    <a translate id="tab2" (click)="setActiveLink('tab2'); scrollToSection('my-skills')"
                        [class.active]="activeLink === 'tab2'">Skills</a>
                    <div class="link-underline" [class.active]="activeLink === 'tab2'"></div>
                </div>
                <div>
                    <a id="tab3" (click)="setActiveLink('tab3'); scrollToSectionWithOffset('portfolio', -30)"
                        [class.active]="activeLink === 'tab3'">Portfolio</a>
                    <div class="link-underline" [class.active]="activeLink === 'tab3'"></div>
                </div>
                <div class="container-translate" style="display: flex; align-items: center;">
                    <a (click)="translate.use('de');">DE</a>
                    <span style="color: white; font-size: 23px;"> | </span>
                    <a (click)="translate.use('en');">EN</a>
                </div>
            </div>



            <div (click)="toggleMenu()" class="burger-menu" *ngIf="isMenuOpen">
                <div class="menu-content">
                    <a translate id="tab1" (click)="setActiveLink('tab1'); scrollToSection('about-me')">About me</a>
                    <a translate id="tab2" (click)="setActiveLink('tab2'); scrollToSection('my-skills')">Skills</a>
                    <a id="tab3" (click)="setActiveLink('tab3'); scrollToSection('portfolio')">Portfolio</a>
                    <div class="container-translate" style="display: flex; align-items: center;">
                        <a (click)="translate.use('de');">DE</a>
                        <span style="color: white; font-size: 23px;"> | </span>
                        <a (click)="translate.use('en');">EN</a>
                    </div>
                </div>
            </div>
            <button class="burger-button" (click)="toggleMenu()">
                <img src="/assets/img/burger_menu.png" alt="" [class.show]="!isMenuOpen && !isAnimating">
                <img src="/assets/img/half_burger.png" alt="" [class.show]="showHalfBurger">
                <img src="/assets/img/half_close.png" alt="" [class.show]="showHalfClose">
                <img src="/assets/img/burger_close.png" alt="" [class.show]="isMenuOpen && !isAnimating">
            </button>
        </nav>
    </div>
</header>