<section>
    <div class="greenborder"></div>

    <div class="container-footer">
        <div class="logo-impressum">
            <a href="#"><img src="/assets/img/pierce_logo.png" alt=""></a>
            <a class="impressum" href="#">Impressum</a>
        </div>

        <div class="codedby">
            <p>© Pierce Chang 2024</p>
        </div>

        <div class="media-buttons">
            <a href="https://github.com/Pierce-Chang"><img src="/assets/img/github_button.png" alt=""></a>
            <a href="#contact"><img src="/assets/img/email_button.png" alt=""></a>
            <a href="https://www.linkedin.com/in/pierce-chang/"><img src="/assets/img/linkedin_button.png" alt=""></a>
        </div>
    </div>

</section>