$background-color: #141D2F;
$green: #70E61C;
$purple: #9747FF;

section {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 291px;
    z-index: 999;
    position: relative;
}

.logo-impressum {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    img {
        margin-left: -4px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
    }

    .impressum {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            text-decoration: underline #1CDAE6;
            text-underline-offset: 6px;
            text-decoration-thickness: 2px;
        }
    }
}

.container-footer {
    border-top: 4px solid $green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $background-color;
}

.codedby {
    color: white;
    font-size: 23px;
    font-weight: 400px;
}

.media-buttons {
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 174px;
    height: 100%;

    a {
        cursor: pointer;
        transition: 75ms ease-in-out;

        &:hover {
            transform: scale(1.4);
        }
    }
}