<div #aboutMeSection [ngClass]="{ 'fly-in': scrolled == 1 }" class="about-me-container fly-in-element">

    <img class="purple-shadow2" src="/assets/img/purple_shadow2.png" alt="">

    <div class="about-me">
        <h2 translate>About me</h2>
        <p>{{'INTRO_TEXT' | translate}}</p>
        <div>
            <div class="dp-flex">
                <img src="/assets/img/bulb_desktop.png" alt="">
                <p>{{'FACT_1' | translate}}</p>
            </div>

            <div class="dp-flex">
                <img src="/assets/img/puzzle_desktop.png" alt="">
                <p>{{'FACT_2' | translate}}</p>
            </div>
        </div>
    </div>

    <div class="container-profile">
        <img src="/assets/img/pierce_closeup.png" alt="">
        <div class="green-profile-line"></div>
    </div>
</div>