<img class="purple-shadow2" src="/assets/img/purple_shadow2.png" alt="">

<div class="about-me-container">
    <div class="about-me">
        <h2>About me</h2>
        <p>Hello, I am a Front-End Developer based in Ettenheim, Germany. I have successfully completed several
            projects, with a particular fondness for collaborative team efforts. These team projects have provided me
            with invaluable experiences. I've had the privilege of working alongside top-tier programmers, which has
            greatly accelerated my personal and professional development.</p>
        <div>
            <div class="dp-flex">
                <img src="/assets/img/bulb_desktop.png" alt="">
                <p>Away from the screen, I find my greatest joy in spending time with my family. Whether it's exploring
                    nature together or simply enjoying a cozy evening at home, these moments are sacred to me. </p>
            </div>

            <div class="dp-flex">
                <img src="/assets/img/puzzle_desktop.png" alt="">
                <p>Another passion of mine lies in the realm of 3D printing, particularly in firmware development and
                    macro programming. The ability to optimize printing processes through precise software adjustments
                    fascinates me. </p>
            </div>
        </div>
    </div>

    <div class="container-profile">
        <img src="/assets/img/pierce_closeup.png" alt="">
        <div class="green-profile-line"></div>
    </div>
</div>