<app-whoami></app-whoami>
<app-about-me id="about-me"></app-about-me>
<app-my-skills id="my-skills"></app-my-skills>
<app-portfolio-head id="portfolio"></app-portfolio-head>
<app-portfolio-projects 
    [imageUrl]="'/assets/img/dabubble_laptop.png'"
    [title]="'DA Bubble'"
    [languages]="'Angular | TypeScript | Firebase'"
    [description]="'DABubble_DESC' | translate"
    [isReversed]="false"
    [liveTestLink]="'https://dabubble.pierce-chang.de/'"
    [gitHubLink]="'https://github.com/Pierce-Chang/DA-Bubble'">
</app-portfolio-projects>
<app-portfolio-projects 
    [imageUrl]="'/assets/img/join_laptop.png'"
    [title]="'Join'"
    [languages]="'JavaScript | HTML | CSS'"
    [description]="'JOIN_DESC' | translate"
    [isReversed]="true"
    [liveTestLink]="'https://join-taskmanager.pierce-chang.de'"
    [gitHubLink]="'https://github.com/Pierce-Chang/Join-Taskmanager'">
</app-portfolio-projects>
<app-portfolio-projects 
    [imageUrl]="'/assets/img/polloloco_laptop.png'"
    [title]="'El Pollo Loco'"
    [languages]="'JavaScript | HTML | CSS'"
    [description]="'POLLOLOCO_DESC' | translate"
    [isReversed]="false"
    [liveTestLink]="'https://polloloco.pierce-chang.de/'"
    [gitHubLink]="'https://github.com/Pierce-Chang/El-Polo-Loco-Jump-and-Run'">
</app-portfolio-projects>
<app-portfolio-projects 
    [imageUrl]="'/assets/img/simplecrm_laptop.png'"
    [title]="'Simple CRM'"
    [languages]="'Angular | TypeScript | Firebase | API'"
    [description]="'SIMPLECRM_DESC' | translate"
    [isReversed]="true"
    [liveTestLink]="'https://simplecrm.pierce-chang.de/'"
    [gitHubLink]="'https://github.com/Pierce-Chang/Simple-CRM'">
</app-portfolio-projects>
<app-contact id="contact"></app-contact>