$background-color: #141D2F;
$green: #70E61C;
$purple: #9747FF;

section {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    margin: 0 100px;

    h2 {
        color: white;
        font-size: 90px;
        font-weight: 700;
        margin-block-start: 0;
    }

    .container-text-form {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .container-contact-me {
            width: max-content;

            h3 {
                color: white;
                font-size: 32px;
                font-weight: 700;
                margin-block-start: 0;
            }

            p {
                color: white;
                font-size: 16px;
                font-weight: 400;
                margin-block-start: 0;

                span {
                    font-weight: 700;
                    font-size: 19px;
                }
            }
        }

        .container-form {
            width: fit-content;
        }

        form {
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                margin-right: 12px;
            }

            .name-email-input {
                outline: none;
                color: white;
                width: 617px;
                padding: 15px 25px;
                border: 1px solid $purple;
                background-color: transparent;
                border-radius: 10px;
                margin-bottom: 32px;
                transition: all 100ms ease-in-out;

                &::placeholder {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                }

                &:hover, &:focus {
                    border: 1px solid #1CDAE6;
                }

                &:autofill, &:autofill:hover, &:autofill:focus, &:autofill:active, -webkit-autofill, -webkit-autofill:hover, -webkit-autofill:focus, -webkit-autofill:active {
                    background-color: transparent;
                    -webkit-text-fill-color: white;
                    box-shadow: 0 0 0px 1000px transparent inset;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }

            .form-textarea {
                outline: none;
                color: white;
                width: 617px;
                height: 202px;
                padding: 15px 25px;
                border: 1px solid $purple;
                background-color: transparent;
                border-radius: 10px;

                &::placeholder {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                }

                &:hover, &:focus {
                    border: 1px solid #1CDAE6;
                }
            }

            .container-accept {
                display: flex;

                label {
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                }

                span {
                    color: $purple;
                    font-size: 14px;
                    font-weight: 400;
                }

                #accept-checkbox {
                    border: 1px solid $green;
                    width: 20px;
                }


            }
        }
    }
}

.submit-button {
    background-color: #B6B6B6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 34px;
    font-size: 23px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: all 100ms ease-in-out;
}

.submit-button-enabled {
    background-color: $green ;
    cursor: pointer;
}

.form-group {
    width: 100%;
    color: white;
}