section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 100px;

    h2 {
        color: white;
        font-size: 90px;
        font-weight: 700;
        margin-block-start: 0;
    }

    .container-text-form {
        display: flex;
        justify-content: space-between;
        width: 100%;

        h3 {
            color: white;
            font-size: 32px;
            font-weight: 700;
            margin-block-start: 0;
        }
    }
}