$background-color: #141D2F;
$green: #70E61C;
$purple: #9747FF;
$red: #E61C40;

.fly-in-element {
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

.fly-in {
    opacity: 1;
    transform: translateX(0);
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    margin-bottom: 120px;

    .container-text-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 40px;

        .container-contact-me {
            width: 100%;
            pointer-events: none;

            h3 {
                color: white;
                font-size: 32px;
                font-weight: 700;
                margin-block-start: 0;
            }

            p {
                color: white;
                font-size: 16px;
                font-weight: 400;
                margin-block-start: 0;
                position: relative;
                z-index: 1;

                span {
                    font-weight: 700;
                    font-size: 19px;
                }
            }
        }

        .container-form {
            width: fit-content;
        }

        form {
            position: relative;
            z-index: 1;
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;

            img {
                margin-right: 12px;
            }

            .name-email-input {
                outline: none;
                color: white;
                width: 617px;
                padding: 15px 25px;
                border: 1px solid $purple;
                background-color: transparent;
                border-radius: 10px;
                transition: color 75ms ease, border 75ms ease;
                font-family: 'Poppins', sans-serif !important;

                &::placeholder {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                }

                &:hover {
                    border: 1px solid #1CDAE6;
                }

                &.ng-dirty.ng-invalid,
                &.ng-touched.ng-invalid {
                    border-color: $red;
                }

                &.ng-valid.ng-touched,
                &.ng-valid.ng-dirty {
                    border-color: $green;
                }

                &:autofill,
                &:autofill:hover,
                &:autofill:focus,
                &:autofill:active,
                -webkit-autofill,
                -webkit-autofill:hover,
                -webkit-autofill:focus,
                -webkit-autofill:active {
                    background-color: transparent;
                    -webkit-text-fill-color: white;
                    box-shadow: 0 0 0px 1000px transparent inset;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }

            .valid-symbol {
                background-image: url('/assets/img/valid.png');
                background-repeat: no-repeat;
                background-position: calc(100% - 24px) center;
                background-size: 25px 25px;
            }

            .unvalid-symbol {
                background-image: url('/assets/img/unvalid.png');
                background-repeat: no-repeat;
                background-position: calc(100% - 24px) center;
                background-size: 25px 25px;
            }

            .textarea-valid-symbol,
            .textarea-unvalid-symbol {
                background-repeat: no-repeat;
                background-position: right 25px top 10px;
                background-size: 25px 25px;
            }

            .textarea-valid-symbol {
                background-image: url('/assets/img/valid.png');
            }

            .textarea-unvalid-symbol {
                background-image: url('/assets/img/unvalid.png');
            }

            .form-textarea {
                outline: none;
                color: white;
                width: 617px;
                height: 202px;
                padding: 15px 25px;
                border: 1px solid $purple;
                background-color: transparent;
                border-radius: 10px;
                font-family: 'Poppins', sans-serif !important;

                &::placeholder {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                }

                &:hover {
                    border: 1px solid #1CDAE6;
                }

                &.ng-dirty.ng-invalid,
                &.ng-touched.ng-invalid {
                    border-color: $red;
                }

                &.ng-valid.ng-touched,
                &.ng-valid.ng-dirty {
                    border-color: $green;
                }
            }

            .container-accept {
                width: 100%;
                height: 56px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                margin-top: -40px;

                label {
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                }

                a {
                    color: $purple;
                    font-size: 14px;
                    font-weight: 400;
                }

                #accept-checkbox {
                    border: 1px solid $green;
                    width: 20px;
                }

                img {
                    cursor: pointer;
                    border-radius: 100%;

                    &:hover {
                        background-color: #183771;
                    }
                }
            }
        }
    }
}

.button-container {
    height: 74px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .submit-button {
        background-color: #B6B6B6;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        transition: all 75ms ease-in-out;
        margin-top: -20px;
    }

    .submit-button-enabled {
        background-color: $green ;
        cursor: pointer;

        &:hover {
            background-color: $purple;
            padding: 20px 40px;
        }
    }
}

.form-group {
    width: 100%;
    color: white;

    .error-div {
        position: relative;
        top: 10px;
        left: 0px;
        color: $red;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
    }

    .alert {
        padding-bottom: 14px;
    }

    .alert-hidden {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    }

    .alert-visible {
        opacity: 1;
        max-height: 50px;
        transition: opacity 0.3s ease, max-height 0.3s ease-in-out;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.modal-content {
    background-color: $background-color;
    color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid $purple;
    font-size: 2em;
    text-align: center;
    width: 80%;
}

@keyframes flyIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes flyOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

.modal-fly-in {
    animation: flyIn 0.5s forwards;
}

.modal-fly-out {
    animation: flyOut 0.5s forwards;
}

.close {
    color: $green;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    scale: 1.1;
    text-decoration: none;
    cursor: pointer;
}

.scroll-up {
    align-self: flex-end;
    padding-top: 50px;
    cursor: pointer;
}

.purple_shadow4 {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 33em;
    pointer-events: none;
}

.policy-link {
    color: $purple;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 75ms ease-in-out;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.5px;
    }
}

.error-accept {
    color: $red;
    font-size: 14px;
    font-weight: 400;
}

.div-accept {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 12px;

    label {
        line-height: 16.8px;
    }
}

.h2-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 105px;
    padding-bottom: 20px;
    pointer-events: none;

    h2 {
        color: white;
        font-size: 90px;
        font-weight: 700;
    }

    .short-line-p {
        width: 50px;
        height: 4px;
        background-color: $purple;
        margin-right: 50px;
    }
}

@media (max-width: 1200px) {
    .purple_shadow4 {
        height: 500px;
        margin-top: 53em;
    }

    section {
        margin: 0 100px;

        .container-form {
            width: 100% !important;
        }

        .container-text-form {
            flex-direction: column;
            gap: 32px;

            form {
                width: 100%;
                gap: 24px;

                .name-email-input {
                    width: calc(100% - 50px);
                }

                .form-textarea {
                    width: calc(100% - 50px);
                }

                .container-accept {
                    width: calc(100% - 50px);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    section {
        margin: 0 25px !important;
        margin-bottom: 50px;
    }

    .h2-container {

        h2 {
            font-size: 80px;
        }

        .short-line-p {
            width: 20px;
            margin-right: 5px;
        }
    }

    .purple_shadow4 {
        margin-top: 55em;
        height: 20em;
    }

    .container-contact-me {
        width: 400px !important;
    }
}

@media (max-width: 450px) {
    section {
        margin: 0 25px;
        margin-bottom: 50px !important;

        .container-text-form {
            flex-direction: column;
            gap: 32px;
        }
    }

    .button-container {
        .submit-button {
            font-size: 16px;
        }
    }

    .h2-container {
        margin-top: -76px !important;
        padding-bottom: 0px;
        margin-bottom: 20px;

        h2 {
            font-size: 45px;
            margin: 0;
        }

        .short-line-p {
            width: 20px;
            margin-right: 5px;
        }
    }

    .purple_shadow4 {
        margin-top: 43em;
    }

    .div-accept {
        margin-top: 12px;
    }

    .scroll-up {
        padding-top: 8px;
    }

    .container-contact-me {
        h3 {
            font-size: 23px !important;
            position: relative;
            z-index: 1;
        }

        p {
            line-height: 19.2px !important;
        }

        span {
            font-weight: 700;
            font-size: 16px !important;
        }
    }

    .submit-button {
        margin-top: 20px !important;
    }
}