<section>

    <h2>Contact</h2>

    <div class="container-text-form">
        <div class="container-contact-me">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing<br> you, knowing your ideas and contributing to
                your projects<br> with my work.</p>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
        </div>

        <div class="container-form">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit()"
                action="http://pierce-chang.de/pierce-changde/send_mail.php" method="post">



                <div class="form-group">
                    <input type="text" id="name" name="name" class="name-email-input" placeholder="Your name"
                        formControlName="name" />
                    <div [class.alert-hidden]="!name?.invalid || !name?.dirty"
                        [class.alert-visible]="name?.invalid && name?.dirty" class="alert">
                        <div class="error-div" *ngIf="name?.errors?.['required']">Your name is required</div>
                    </div>
                </div>


                <div class="form-group">
                    <input type="email" id="email" name="email" class="name-email-input" placeholder="Your email"
                        formControlName="email" />
                    <div [class.alert-hidden]="!email?.invalid || !email?.dirty"
                        [class.alert-visible]="email?.invalid && email?.dirty" class="alert">
                        <div class="error-div" *ngIf="email?.errors?.['required']">Your Email is required</div>
                        <div class="error-div" *ngIf="email?.errors?.['email']">
                            Please enter a valid email.
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <textarea class="form-textarea" id="exampleFormControlTextarea1" rows="3" name="message"
                        placeholder="Your message" formControlName="text"></textarea>
                    <div [class.alert-hidden]="!text?.invalid || !text?.dirty"
                        [class.alert-visible]="text?.invalid && text?.dirty" class="alert">
                        <div class="error-div" *ngIf="text?.errors?.['required']">Your message is empty</div>
                        <div class="error-div" *ngIf="text?.errors?.['minlength']">
                            Message must be at least 10 characters long.
                        </div>
                    </div>
                </div>


                <div class="container-accept">
                    <div>
                        <img [src]="messageForm.controls['accept'].value ? checkboxImage[1] : checkboxImage[0]"
                            alt="checkbox"
                            (click)="messageForm.controls['accept'].setValue(!messageForm.controls['accept'].value)">
                        <input style="display: none;" type="checkbox" name="accept" id="accept-checkbox"
                            formControlName="accept">
                    </div>
                    <label for="accept">I've read the <span>privacy policy</span> and agree to the processing of my data
                        as outlined.</label>
                    <div *ngIf="messageForm.controls['accept'].invalid && (messageForm.controls['accept'].dirty || messageForm.controls['accept'].touched || submitted)"
                        class="alert">
                        You must accept the terms.
                    </div>
                </div>

                <button type="submit" class="submit-button" [class.submit-button-enabled]="messageForm.valid"
                    [disabled]="!messageForm.valid">{{ buttonText }}</button>

            </form>
        </div>
    </div>

</section>