.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #141D2F;
    box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .loading-message {
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin: 0 20px;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
  }
  
.loader {
  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: 30px;
}
.loader:before,
.loader:after {
  content:"Loading...";
  grid-area: 1/1;
  mask-size: 100% 5px,100% 100%;
  mask-repeat: no-repeat;
  mask-composite: xor;
  mask-composite: exclude;
  animation: l35-1 1s infinite;
}
.loader:before {
  mask-image:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
}
.loader:after {
  mask-image:
    linear-gradient(#000 0 0);
  animation:
    l35-1  1s infinite,
    l35-2 .2s infinite cubic-bezier(0.5,200,0.5,-200);
}

@keyframes l35-1{
  0%   {-webkit-mask-position:0 20px,0 0}
  20%  {-webkit-mask-position:0 8px ,0 0}
  40%  {-webkit-mask-position:0 100%,0 0}
  60%  {-webkit-mask-position:0 3px ,0 0}
  80%  {-webkit-mask-position:0 15px,0 0}
  100% {-webkit-mask-position:0 0   ,0 0}
}
@keyframes l35-2{
  100% {transform:translate(0.1px)} 
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .cursor {
    animation: blink 900ms steps(1, start) infinite;
  }
  
  .fade-out {
    animation: fadeOutAnimation 300ms ease-out forwards;
  }
  
  @keyframes fadeOutAnimation {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }