<app-header></app-header>
<app-whoami></app-whoami>
<app-about-me id="about-me"></app-about-me>
<app-my-skills id="my-skills"></app-my-skills>
<app-portfolio-head id="portfolio"></app-portfolio-head>

<app-portfolio-projects 
    [imageUrl]="'/assets/img/join_laptop.png'"
    [title]="'Join'"
    [languages]="'JavaScript | HTML | CSS'"
    [description]="'Task manager inspired by the Kanban System...'"
    [isReversed]="false">
</app-portfolio-projects>

<app-portfolio-projects 
    [imageUrl]="'/assets/img/polloloco_laptop.png'"
    [title]="'Anderes Projekt'"
    [languages]="'Angular | TypeScript'"
    [description]="'Beschreibung des anderen Projekts...'"
    [isReversed]="true">
</app-portfolio-projects>

<app-portfolio-projects 
    [imageUrl]="'/assets/img/join_laptop.png'"
    [title]="'Join'"
    [languages]="'JavaScript | HTML | CSS'"
    [description]="'Task manager inspired by the Kanban System...'"
    [isReversed]="false">
</app-portfolio-projects>

<app-portfolio-projects 
    [imageUrl]="'/assets/img/sharkie_laptop.png'"
    [title]="'Anderes Projekt'"
    [languages]="'Angular | TypeScript'"
    [description]="'Beschreibung des anderen Projekts...'"
    [isReversed]="true">
</app-portfolio-projects>

<app-contact id="contact"></app-contact>

<router-outlet></router-outlet>