$background-color: #141D2F;
$green: #70E61C;
$purple: #9747FF;


section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    padding: 0 100px 100px 100px;
    gap: 120px;

    img {
        padding: 0 110px;
        width: 450px;
        position: relative;
        z-index: 1;
    }

    .align-end {
        align-items: flex-end;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .project-infos {
        width: 450px;
        display: flex;
        flex-direction: column;

        h3 {
            color: $purple;
            font-size: 32px;
            font-weight: 700;
        }

        .languages {
            color: $green;
            font-size: 23px;
            font-weight: 400;
        }

        p {
            color: white;
            font-size: 16px;
            line-height: 19.2px;
        }
    }
}

.reversed-section {
    flex-direction: row-reverse !important; // Spiegelt die Anordnung
}

.container-buttons {
    display: flex;
    align-items: center;
    width: 375px;
    height: max-content;
    gap: 86px;

    .live-test {
        white-space: nowrap;
        font-weight: 400;
        font-size: 23px;
        padding: 15px 30px;
        border-style: none;
        border-radius: 10px;
        background-color: $purple;
        color: white;
        font-family: 'Poppins', sans-serif !important;
        text-decoration: none;
        cursor: pointer;
        transition: all 75ms ease-in-out;

        &:hover {
            background-color: $green;
        }
    }

    .github {
        font-weight: 400;
        font-size: 23px;
        padding: 15px 30px;
        border: 1px solid $green;
        border-radius: 10px;
        background-color: $background-color;
        color: white;
        font-family: 'Poppins', sans-serif !important;
        text-decoration: none;
        cursor: pointer;
        transition: all 75ms ease-in-out;

        &:hover {
            background-color: $green;
        }
    }
}

.text-end {
    text-align: end;
}

@media (max-width: 1400px) {
    section {
        img {
            padding: 0 0px;
            width: 450px;
            position: relative;
            z-index: 1;
        }

        .project-infos {
            width: 400px;
        }
    }
}

@media (max-width: 1200px) {
    section {
        gap: 20px;
    }

    section img {
        width: 350px !important;
    }

    section .project-infos {
        width: 300px !important;
    }

    .live-test, .github {
        font-size: 16px !important;
        padding: 10px 20px !important;
    }

    .container-buttons {
        gap: 50px !important;
    }
}

@media (max-width: 800px) {
    section {
        flex-direction: column;
        gap: 0 !important;
        margin-top: 0;
        padding-bottom: 0;

        img {
            padding: 0;
            width: 300px;
            margin-bottom: -80px;
        }

        .align-end {
            align-items: center;
        }

        .justify-end {
            justify-content: center;
        }

        .project-infos {
            width: 100%;
            padding: 0 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;

            h3 {
                font-size: 28px;
            }

            .languages {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .reversed-section {
        flex-direction: column !important;
    }

    .container-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;
        gap: 50px;

        .live-test {
            text-align: center;
        }

        .github {
            text-align: center;
        }
    }
}