<section [ngClass]="{'reversed-section': isReversed}">
    <img [src]="imageUrl" alt="{{ title }}">
      <div class="project-infos" [ngClass]="{'align-end': isReversed}">
        <h3>{{ title }}</h3>
        <p class="languages">{{ languages }}</p>
        <p [ngClass]="{'text-end': isReversed}">{{ description }}</p>
        <div [ngClass]="{'justify-end': isReversed}" class="container-buttons">
            <a target="_blank" [href]="liveTestLink" class="live-test">Live test</a>
            <a target="_blank" [href]="gitHubLink" class="github">Github</a>
        </div>
    </div>
</section>