section {
    color: white;
    padding: 100px 100px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        height: 100px;
    }

    a {
        color: #70E61C;
    }
}

.bfdi-link {
    word-wrap: break-word;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;

        h1 {
            font-size: 30px;
            height: 60px;
        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }
    }
}