section {
    color: white;
    margin-top: 110px;
    padding: 100px 100px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        height: 100px;
    }

    a {
        color: #70E61C;
    }
}

.bfdi-link {
    word-wrap: break-word;
}

@media (min-width: 1920px) {
    section {
        margin-left: calc((100vw - 1720px) / 2);
        margin-right: calc((100vw - 1720px) / 2);
        padding: 50px 0px;
    }
}

@media (max-width: 800px) {
    section {
        text-wrap: balance;
        padding: 50px 20px;

        h1 {
            font-size: 30px;
            height: 60px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }
    }
}