<section>

    <img class="photo_shadows" src="/assets/img/photo_shadows.png" alt="">
    <img class="pierce_profile" src="/assets/img/pierce_crossedarms.png" alt="">
    <img class="vector" src="/assets/img/vector.png" alt="">

    <div class="container-whoami">
        <div class="whoami">
            <div class="iam">
                <span>I am</span>
            </div>
            <div class="name-frontend-container">
                <span class="name">Pierce Chang</span>
                <span class="frontend">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <a href="#contact">Let's talk!</a>
    </div>

    <div class="media-line">
        <div class="purple-line"></div>
        <a href="https://github.com/Pierce-Chang"><img src="/assets/img/github_button.png" alt=""></a>
        <a href="#contact"><img src="/assets/img/email_button.png" alt=""></a>
        <a href="https://www.linkedin.com/in/pierce-chang/"><img src="/assets/img/linkedin_button.png" alt=""></a>
        <a class="email-media" type="email" href="#contact">info&#64;pierce-chang.de</a>
    </div>

    <div class="scroll-down-container">
        <p>Scroll down </p>
        <img src="/assets/img/arrow-down-line.png" alt="">
    </div>
</section>