<section>
    <img class="photo_shadows" src="/assets/img/photo_shadows.png" alt="">
    <img class="pierce_profile" src="/assets/img/pierce_profile_fullbody.png" alt="">
    <img class="vector" src="/assets/img/vector.png" alt="">
<div class="container-whoami">
    <div class="whoami">
        <div class="iam">
            <span>I am</span>
        </div>
        <div class="name-frontend-container">
            <span class="name">Pierce Chang</span>
            <span class="frontend">FRONTEND DEVELOPER</span>
        </div>
    </div>
    <button>Let's talk!</button>
</div>

<div class="media-line">
    <div class="purple-line"></div>
    <img src="/assets/img/github_button.png" alt="">
    <img src="/assets/img/email_button.png" alt="">
    <img src="/assets/img/linkedin_button.png" alt="">
    <a href="#">pierce-chang&#64;mailbox.org</a>
</div>

    <div class="scroll-down-container">
        <p>Scroll down </p>
        <img src="/assets/img/arrow-down-line.png" alt="">
    </div>













</section>