<div class="container-skills">

<div class="skill-icons">
    <img src="/assets/img/angular_icon.png" alt="">
    <img src="/assets/img/typescript_icon.png" alt="">
    <img src="/assets/img/javascript_icon.png" alt="">
    <img src="/assets/img/html_icon.png" alt="">
    <img src="/assets/img/firebase_icon.png" alt="">
    <img src="/assets/img/git_icon.png" alt="">
    <img src="/assets/img/css_icon.png" alt="">
    <img src="/assets/img/rest_api_icon.png" alt="">
    <img src="/assets/img/scrum_icon.png" alt="">
    <img src="/assets/img/material_design_icon.png" alt="">
</div>

<div class="my-skills-p">
    <h2>My skills</h2>
    <p>I have gained experience in building projects with various front end technologies and concepts.</p>
    <div class="my-skills-line"></div>
</div>







</div>
