<div class="container-skills">

    <img src="/assets/img/green_shadow2.png" alt="">

    <div class="skill-icons">
        <div class="icon-box">
            <img src="/assets/img/angular_icon.png" alt="">
            <p>Angular</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/typescript_icon.png" alt="">
            <p>TypeScript</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/javascript_icon.png" alt="">
            <p>JavaScript</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/html_icon.png" alt="">
            <p>HTML</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/firebase_icon.png" alt="">
            <p>Firebase</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/git_icon.png" alt="">
            <p>Git</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/css_icon.png" alt="">
            <p>CSS</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/rest_api_icon.png" alt="">
            <p>REST API</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/scrum_icon.png" alt="">
            <p>Scrum</p>
        </div>
        <div class="icon-box">
            <img src="/assets/img/material_design_icon.png" alt="">
            <p class="material-design">Material<br>Design</p>
        </div>
    </div>
    

    <div class="my-skills-p">
        <div class="my-skills-header">
            <h2>My skills</h2>
            <div class="my-skills-line"></div>
        </div>
        <p>I have gained experience in building projects with various front end technologies and concepts.</p>
        <div class="get-in-touch">
            <button>Get in touch</button>
        </div>

    </div>
</div>