<section>
    <img class="purple-shadow3" src="/assets/img/purple_shadow3.png" alt="">
    <img class="green-shadow3" src="/assets/img/green_shadow3.png" alt="">
    
    <div class="portfolio-head-container">
        <div class="short-witdh">
            <div class="short-line-p"></div>
        </div>
        <h2>Portfolio</h2>
        <div class="long-width">
            <div class="long-line-p"></div>
        </div>
    </div>
    <p translate>This page is a sample of my work - please feel free to try them out.</p>
</section>