$background-color: #141D2F;
$green: #70E61C;
$purple: #9747FF;


section {
    padding-top: 144px;
    padding-bottom: 140px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    > p {
        color: white;
    }

    pointer-events: none;
}

.portfolio-head-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .short-line-p {
        width: 109px;
        height: 4px;
        background-color: $purple;
        margin-right: 20px;
    }

    h2 {
        font-size: 90px;
        font-weight: 700;
        color: white;
    }

    .long-line-p {
        max-width: 100%;
        height: 4px;
        background-color: $purple;
        margin-left: 20px;
    }
}

.purple-shadow3 {
    position: absolute;
    top: 1200px;
    left: -100px;
    pointer-events: none;
}

.green-shadow3 {
    position: absolute;
    top: 1500px;
    right: 0;
    pointer-events: none;
}

.short-witdh {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.long-width {
    width: inherit;
}

@media (max-width: 1200px) {
    .purple-shadow3 {
        width: 570px;
        top: 1080px;
        left: -100px;
    }

    .green-shadow3 {
        top: 1300px;
    }
}

@media (max-width: 800px) {
    .portfolio-head-container { 
        .short-line-p {
            width: 20px;
            margin-right: 4px;
        }
    
        h2 {
            font-size: 80px;
            margin-block-start: 0.0em;
            margin-block-end: 0.0em;
        }
    
        .long-line-p {
            width: 100%;
            margin-left: 4px;
        }
    }

    section {
        padding-top: 80px;
        padding-bottom: 140px;
        margin-top: -80px;
        position: relative;
        top: 130px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    
        > p {
            width: 70%;
            color: white;
            margin: 0 25px;
            text-align: center;
        }
    }

    .purple-shadow3 {
        width: 450px;
        height: 450px;
        position: absolute;
        filter: blur(20px);
        top: 1360px;
        left: -40px;
        pointer-events: none;
    }
    
    .green-shadow3 {
        height: 550px;
        position: absolute;
        top: 2170px;
        right: 0;
    }
}

@media (max-width: 450px) {
    .portfolio-head-container { 
        .short-line-p {
            width: 20px;
            margin-right: 4px;
        }
    
        h2 {
            font-size: 45px;
            margin-block-start: 0.0em;
            margin-block-end: 0.0em;
        }
    
        .long-line-p {
            width: 100%;
            margin-left: 4px;
        }
    }

    .short-witdh {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .long-width {
        width: 100%;
    }

    section {
        padding-top: 100px;
        padding-bottom: 140px;
        position: relative;
        top: 130px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    
        > p {
            color: white;
            margin: 0 25px;
            text-align: center;
        }
    }

    .purple-shadow3 {
        width: 430px;
        height: 430px;
        top: 1430px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }
    
    .green-shadow3 {
        height: 430px;
        position: absolute;
        top: 2500px;
        right: 0;
    }
}


