$background-color: #141D2F;
$green: #70E61C;
$purple: #9747FF;


section {
    padding-top: 144px;
    padding-bottom: 140px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    > p {
        color: white;
    }
}

.portfolio-head-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; // Zentriert die Elemente vertikal
    justify-content: end; // Zentriert den Inhalt horizontal

    .short-line-p {
        width: 109px;
        height: 4px; // oder eine gewünschte Höhe für die Linie
        background-color: $purple;
        margin-right: 20px; // Abstand zwischen der Linie und dem Text
    }

    h2 {
        font-size: 90px;
        font-weight: 700;
        color: white;
    }

    .long-line-p {
        width: 484px;
        height: 4px; // oder eine gewünschte Höhe für die Linie
        background-color: $purple;
        margin-left: 20px; // Abstand zwischen dem Text und der Linie
    }
}

.purple-shadow3 {
    position: absolute;
    top: 1200px;
    left: 0px;
    pointer-events: none;
}

.green-shadow3 {
    position: absolute;
    top: 1250px;
    right: 0;
}