$background-color: #141D2F;
$green: #70E61C;
$purple: #9747FF;


section {
    padding-top: 144px;
    padding-bottom: 140px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    > p {
        color: white;
    }
}

.portfolio-head-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; // Zentriert die Elemente vertikal
    justify-content: center; // Zentriert den Inhalt horizontal

    .short-line-p {
        width: 109px;
        height: 4px; // oder eine gewünschte Höhe für die Linie
        background-color: $purple;
        margin-right: 20px; // Abstand zwischen der Linie und dem Text
    }

    h2 {
        font-size: 90px;
        font-weight: 700;
        color: white;
    }

    .long-line-p {
        width: 100%;
        height: 4px; // oder eine gewünschte Höhe für die Linie
        background-color: $purple;
        margin-left: 20px; // Abstand zwischen dem Text und der Linie
    }
}

.purple-shadow3 {
    position: absolute;
    top: 1200px;
    left: -100px;
    pointer-events: none;
}

.green-shadow3 {
    position: absolute;
    top: 1250px;
    right: 0;
}

.short-witdh {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.long-width {
    width: 100%;
}

@media (max-width: 450px) {
    .portfolio-head-container { 
        .short-line-p {
            width: 20px;
            margin-right: 4px;
        }
    
        h2 {
            font-size: 45px;
            margin-block-start: 0.0em;
            margin-block-end: 0.0em;
        }
    
        .long-line-p {
            width: 100%;
            margin-left: 4px;
        }
    }

    .short-witdh {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .long-width {
        width: 100%;
    }

    section {
        padding-top: 120px;
        padding-bottom: 140px;
        position: relative;
        top: 130px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    
        > p {
            color: white;
            margin: 0 25px;
            text-align: center;
        }
    }

    .purple-shadow3 {
        height: 342px;
        position: absolute;
        top: 1300px;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    
    .green-shadow3 {
        height: 429px;
        position: absolute;
        top: 1760px;
        right: 0;
    }
    
}